{% extends 'base.html' %}

{% block content %}
<h2>GALERIA DE PRODUCTOS</h2>
<br>
{% for obj in objGaleriaList %}
  {{ obj }} 
{% endfor %}
<br>


{% for objGaleriaList in objGaleriaList %}
<div class="row">
  <div class="col-md-7">

      <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
        <tr>
          <th> Codigo </th>
          <th> Titulo </th>
          <th> Imagen </th>
          <th> Precio </th>
          <th> Marca </th>
          <th> Descripción </th>
          <th> Categorias </th>
        </tr>
        <tr>
          <td>  {{ objGaleriaList.0}} </td> <!-- asin-->
          <td>  {{ objGaleriaList.1 }} </td> <!-- title-->
          <td>  <img src="{{ objGaleriaList.2 }}" alt="" width="65" height="75" > </td> <!-- imurl-->
          <td>  {{ objGaleriaList.3 }} </td> <!-- price-->
          <td>  {{ objGaleriaList.4 }} </td> <!-- brand-->
          <td>  {{ objGaleriaList.5 }} </td> <!-- description -->
          <td>  {{ objGaleriaList.6 }} </td> <!-- categories -->
        </tr>
      </table>

 </div>
</div>
{% endfor %}

<br>
{% endblock %}
