{% extends 'base.html' %}

{% block content %}
<h3>USTED SE HA IDENTIFICADO COMO</h3>
<p>Nombre: {{ user.reviewername}}  /  ID: {{ user.reviewerid }} </p>
<br>
<h2>GALERIA DE PRODUCTOS</h2>
<br>
{% for objGaleriaList in objGaleriaList %}
<div class="row">
  <div class="col-md-10">

      <table class="footable table table-stripped toggle-arrow-tiny full-width" data-page-size="20">
        <tr>
          <th> Codigo </th>
          <th> Titulo </th>
          <th> Imagen </th>
          <th> Precio </th>
          <th> Descripción </th>
          <th> Marca </th>
          <th> Categorias </th>
        </tr>
        <tr>
          <td>  {{ objGaleriaList.0}} </td> <!-- asin-->
          <td>  {{ objGaleriaList.1 }} </td> <!-- title-->
          <td>  <img src="{{ objGaleriaList.2 }}" alt="" width="85" height="95" > </td> <!-- imurl-->
          <td>  {{ objGaleriaList.3 }} </td> <!-- price-->
          <td>  {{ objGaleriaList.4 }} </td> <!-- description -->
          <td>  {{ objGaleriaList.5 }} </td> <!-- brand-->
          <td>  {{ objGaleriaList.6 }} </td> <!-- categories -->
        </tr>
        <tr>
          <table>
            <tr>
                <h3>Calificar</h3>
            </tr>
            <tr>
              <td><a href="{% url 'calificarBtnUno' asin=objGaleriaList.0 nombreUser=user.reviewername idUser=user.reviewerid %}"><button class="btn btn-primary">1</button></a></td>
              <td><a href="{% url 'calificarBtnDos' asin=objGaleriaList.0 nombreUser=user.reviewername idUser=user.reviewerid %}"><button class="btn btn-primary">2</button></a></td>
              <td><a href="{% url 'calificarBtnTres' asin=objGaleriaList.0 nombreUser=user.reviewername idUser=user.reviewerid %}"><button class="btn btn-primary">3</button></a></td>
              <td><a href="{% url 'calificarBtnCuatro' asin=objGaleriaList.0 nombreUser=user.reviewername idUser=user.reviewerid %}"><button class="btn btn-primary">4</button></a></td>
              <td><a href="{% url 'calificarBtnCinco' asin=objGaleriaList.0 nombreUser=user.reviewername idUser=user.reviewerid %}"><button class="btn btn-primary">5</button></a></td>
            </tr>
          </table>
        </tr>
      </table>
      <br>
 </div>
</div>
{% endfor %}
<br>

{% endblock %}
