{% extends 'base.html' %}

{% block content %}
<h3>USTED SE HA IDENTIFICADO COMO</h3>
<p>Nombre: {{ user.reviewername}}  /  ID: {{ user.reviewerid }} </p>
<br>
<div class="">
  <h4>Productos recomendados para ti.</h4>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
     <div class="row">
         <div class="col-md-3">
             <div class="ibox">
               {% for ObjProducto1 in ObjProducto1 %}
                  <img src="{{ ObjProducto1.imurl }}" alt="" width="245" height="350" >
                     <div class="product-desc">
                         <span class="product-price">
                              Precio: $ {{ ObjProducto1.price }}
                         </span>
                         <small class="text-muted">Nombre:  {{ ObjProducto1.title }} </small>
                         <a href="#" class="product-name"> Product asin:   {{ ObjProducto1.asin }} </a>
                         <div class="small m-t-xs">
                             Descripción:  {{ ObjProducto1.description}}
                         </div>
                         <div class="small m-t-xs">
                           Marca: {{ ObjProducto1.brand}}
                         </div>
                         <div class="m-t text-righ">

                             <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                         </div>
                     </div>

              {% endfor %}
             </div>
         </div>
         <!-- ************************ -->
         <div class="col-md-3">
           <div class="ibox">
             {% for ObjProducto2 in ObjProducto2 %}
                <img src="{{ ObjProducto2.imurl }}" alt="" width="245" height="350" >
                   <div class="product-desc">
                       <span class="product-price">
                            Precio: $ {{ ObjProducto2.price }}
                       </span>
                       <small class="text-muted">Nombre:  {{ ObjProducto2.title }} </small>
                       <a href="#" class="product-name"> Product asin:   {{ ObjProducto2.asin }} </a>
                       <div class="small m-t-xs">
                           Descripción:  {{ ObjProducto2.description}}
                       </div>
                       <div class="small m-t-xs">
                         Marca: {{ ObjProducto2.brand}}
                       </div>
                       <div class="m-t text-righ">

                           <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                       </div>
                   </div>

            {% endfor %}
           </div>
            </div>
             <!-- ************************ -->
            <div class="col-md-3">
              <div class="ibox">
                {% for ObjProducto3 in ObjProducto3 %}
                   <img src="{{ ObjProducto3.imurl }}" alt="" width="245" height="350" >
                      <div class="product-desc">
                          <span class="product-price">
                               Precio: $ {{ ObjProducto3.price }}
                          </span>
                          <small class="text-muted">Nombre:  {{ ObjProducto3.title }} </small>
                          <a href="#" class="product-name"> Product asin:   {{ ObjProducto3.asin }} </a>
                          <div class="small m-t-xs">
                              Descripción:  {{ ObjProducto3.description}}
                          </div>
                          <div class="small m-t-xs">
                            Marca: {{ ObjProducto3.brand}}
                          </div>
                          <div class="m-t text-righ">

                              <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                          </div>
                      </div>

               {% endfor %}
              </div>
            </div>
      </div>
      <!-- ** otra fila *** -->
      <div class="row">
        <div class="col-md-3">
          <div class="ibox">
            {% for ObjProducto4 in ObjProducto4 %}
               <img src="{{ ObjProducto4.imurl }}" alt="" width="245" height="350" >
                  <div class="product-desc">
                      <span class="product-price">
                           Precio: $ {{ ObjProducto4.price }}
                      </span>
                      <small class="text-muted">Nombre:  {{ ObjProducto4.title }} </small>
                      <a href="#" class="product-name"> Product asin:   {{ ObjProducto4.asin }} </a>
                      <div class="small m-t-xs">
                          Descripción:  {{ ObjProducto4.description}}
                      </div>
                      <div class="small m-t-xs">
                        Marca: {{ ObjProducto4.brand}}
                      </div>
                      <div class="m-t text-righ">

                          <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                      </div>
                  </div>
           {% endfor %}
          </div>
        </div>
        <!-- ************************ -->
        <div class="col-md-3">
          <div class="ibox">
            {% for ObjProducto5 in ObjProducto5 %}
               <img src="{{ ObjProducto5.imurl }}" alt="" width="245" height="350" >
                  <div class="product-desc">
                      <span class="product-price">
                           Precio: $ {{ ObjProducto5.price }}
                      </span>
                      <small class="text-muted">Nombre:  {{ ObjProducto5.title }} </small>
                      <a href="#" class="product-name"> Product asin:   {{ ObjProducto5.asin }} </a>
                      <div class="small m-t-xs">
                          Descripción:  {{ ObjProducto5.description}}
                      </div>
                      <div class="small m-t-xs">
                        Marca: {{ ObjProducto5.brand}}
                      </div>
                      <div class="m-t text-righ">

                          <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                      </div>
                  </div>
           {% endfor %}
          </div>
        </div>

      </div>
</div>

<!--
{% for ObjProducto1 in ObjProducto1 %}
  <div class="">
    {{ ObjProducto1.asin }}
  </div>
  <div class="">
    <img src="{{ ObjProducto1.imurl }}" alt="">
  </div>
{% endfor %}

{% for ObjProducto2 in ObjProducto2 %}
  <div class="">
    {{ ObjProducto2.asin }}
  </div>
  <div class="">
    <img src="{{ ObjProducto2.imurl }}" alt="">
  </div>
{% endfor %}

{% for ObjProducto3 in ObjProducto3 %}
  <div class="">
    {{ ObjProducto3.asin }}
  </div>
  <div class="">
    <img src="{{ ObjProducto3.imurl }}" alt="">
  </div>
{% endfor %}

{% for ObjProducto4 in ObjProducto4 %}
  <div class="">
    {{ ObjProducto4.asin }}
  </div>
  <div class="">
    <img src="{{ ObjProducto4.imurl }}" alt="">
  </div>
{% endfor %}

{% for ObjProducto5 in ObjProducto5 %}
  <div class="">
    {{ ObjProducto5.asin }}
  </div>
  <div class="">
    <img src="{{ ObjProducto5.imurl }}" alt="">
  </div>
{% endfor %}
-->


<!--
<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
  <tr>
    <th> asin </th>
    <th class="text-right"> distancia </th>
  <tr>
  <tr>
    <td>
      <table class="footable table table-stripped toggle-arrow-tiny">
        {% for asinlist in asinlist %}
        <tr>
          <td > {{ asinlist }} </td>
        </tr>
        {% endfor %}
      </table>
    </td>
    <td>
    <table class="footable table table-stripped toggle-arrow-tiny">
      {% for distanceslist in distanceslist %}
      <tr>
        <td class="text-right"> {{ distanceslist }} </td>
      </tr>
      {% endfor %}
    </table>
   </td>
  </tr>
</table>
-->
<br>


{% endblock %}
